/**
 * Catppuccin Mocha theme variables
 */

@mixin theme() {
  :root {
    --base-color: #CDD6F4;
    --border: dashed 1px #45475A;
    --selection-background: #313244;
    --selection-text: #F5E0DC;
    --background-color: #1E1E2E;
    --text-color: var(--base-color);
    --placeholder-color: #BAC2DE;
    --link-color: #89B4FA;
    --code-color-1: #6C7086;
    --code-color-2: #F9E2AF;
    --code-color-3: #F38BA8;
    --code-color-4: #F2CDCD;
    --code-color-5: #89B4FA;
    --code-color-6: #A6E3A1;
    --code-color-7: #F38BA8;
    --code-color-8: #74C7EC;
    --code-color-9: #A6E3A1;
    --code-color-10: #9399B2;
    --code-color-11: #585B70;
    --code-color-12: #CBA6F7;
    --code-color-13: #94E2D5;
    --code-color-14: #89DCEB;
    --code-color-15: #FAB387;
    --code-color-16: #89B4FA;
    --code-color-17: #F38BA8;
    --code-color-18: #BAC2DE;
  }
}
